doctype html
html(manifest="js13k.appcache")
  head
    meta(charset="utf-8")
    title The Elements :: js13KGames 2014
    link(type="text/css", rel="stylesheet", href="js13k.css")
  body
    script(src="js13k.js")
